.benefits-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
    text-align: center;
  }
  .benefit {
    max-width: 370px;
    padding: 30px;
  }
  .benefit img {
    max-width: 50px;
    max-height: 50px;
  }