.products-grid {
  margin: 10px 0;
  padding: 0 10px;
}
.products-grid .MuiGrid-container .MuiGrid-item {
  text-align: center;
  min-height: 600px;
  padding: 30px;
}
.grid-1 {
  background: url("../../assets/background/iphone-14-pro.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.grid-2 {
  background: url("../../assets/background/ipad.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.grid-3 {
  background: url("../../assets/background/imac.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.grid-4 {
  background: url("../../assets/background/ipad-pro.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.products-grid h3 {
  font-size: 2.5rem !important;
}
@media (max-width: 600px) {
  .products-grid h3 {
    font-size: 2.5rem !important;
  }
}
