.bag{
    padding: 100px 0;
}
.bag-products{
    margin-top: 30px;
}
.bag-product{
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.bag-images img{
    max-width: 350px;
}
.bag-info{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.bag-info .price{
    font-size: 1.5rem;
}
.info-right{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.bag-info button{
    border: none;
    outline: none;
    background: none;
    color: #06c;
    cursor: pointer;
    font-size: 18px;
}
.bag-total{
    padding: 20px 0;
}
@media(max-width: 600px){
    .bag-info h5{
        font-size: 18px;
    }
    .bag-info .price{
        font-size: 18px;
    }
}