.refurbished {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f7;
  margin-bottom: 15px;
}
.refurbished .info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.refurbished-img-holder {
  background: url("./images/certified-refurbished.png");
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}
.apple-tv {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: black;
}
.apple-tv .info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  color: #fff;
}
.apple-tv-img-holder {
  background: url("./images/apple-tv.png");
  flex: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  margin-right: 30px;
}
@media (max-width: 600px) {
  .apple-tv,
  .refurbished {
    min-height: 200px;
  }
  .refurbished .info {
    padding: 10px;
  }
  .apple-tv .info {
    padding: 10px;
  }
  .apple-tv-img-holder {
    margin-right: 10px;
  }
  h4{
    font-size: 18px !important;
  }
}
