.product-list {
  background: #f2f2f2;
}
.product-list-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.product-list-header-wrapper img {
  width: 60px;
  height: 60px;
  filter: invert(100%);
}
.product-list-header-wrapper img:hover {
  filter: invert(50%);
  cursor: pointer;
}
.product-list-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-list-ribbon {
  background: #0071e3;
  padding: 12px;
  color: white;
  text-align: center;
}
.product-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
  width: 100%;
  margin: 0 auto;
}
.product-list-box {
  background-color: white;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 20px 70px 20px;
  border-radius: 0.5rem;
  position: relative;
}
@media(max-width: 600px) {
  .product-list-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .product-list-box {
    min-width: 300px;
    width: 90vw;
    max-width: unset;
  }
}
.product-list-box:hover {
  box-shadow: 1px 1px 6px 0 #878c94;
  transition: all 0.4s;
  cursor: pointer;
}
.product-list-box-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-list-box-img img {
  max-width: 200px;
  max-height: 150px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.product-list-box .select-button{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.error{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-list-box-info ul li{
  list-style:circle;
  list-style-position: inside;
  margin-top: 5px;
}