.shop-container .MuiContainer-root {
    margin-top: 48px;
    padding: 0 !important;
}
@media (max-width: 636px) {
    .shop-container .MuiContainer-root {
        margin-top: 30px;
        padding: 0 !important;
    }
}
.shop-title {
    font-weight: bolder !important;
}

.shop-title span {   
    color: dimgray;    
}