.in-the-box {
  text-align: center;
}
.in-the-box h3 {
  font-size: 2.5rem;
  margin: 50px 0;
}
.box-wrapper {
  position: relative;
  background-color: #fafafa;
  padding: 30px;
  min-height: 350px;
}
.box-images {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 150px;
}
.box-images img{
  max-width: 300px;
  max-height: 300px;
}
.box-images p{
  margin-top: 10px;
}
@media(max-width: 800px){
  .box-images{
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-images img{
    max-width: 150px;
    max-height: 150px;
  }
  .in-the-box h3 {
    font-size: 2rem;
    margin: 30px 0;
  }
}