.in-the-box {
  text-align: center;
}
.in-the-box h3 {
  margin: 50px 0;
}
.box-wrapper {
  position: relative;
  background-color: #fafafa;
  padding: 30px;
  min-height: 350px;
}
.box-images {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 150px;
}
.box-images img{
  max-width: 300px;
  max-height: 300px;
}
.box-images p{
  margin-top: 10px;
}
@media(max-width: 800px){
  .box-images{
    justify-content: center;
  }
  .box-images img{
    max-width: 200px;
    max-height: 200px;
  }
}