.footer{
    background: #f5f5f7;
    padding: 30px 0;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    gap: 10px;
}
.footer-list ul li{
    margin: 20px 0;
    color: #d2d2d7;
}
.footer-list li:first-child{
    color: black;
}
.footer-list a{
    color: rgb(114, 114, 114);
}
.footer-list ul li:hover{
    text-decoration: underline;
}
.footer-end{
    display: flex;
    gap: 20px;
}
@media(max-width: 500px){
    .footer-end{
        flex-direction: column;
        gap: 10px;
    }
}
.footer-end p{
    color: rgb(114,114,114);
    cursor: pointer;
}