.hero{
    background: url('../../images/hero-iphone.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    padding: 100px 0;
}
@media(max-width: 600px){
    .hero{
        min-height: 65vh;
        padding: 60px 0;
    }
    .hero h2{
        font-size: 3rem;
    }
}
.hero a{
    color: #06c;
}
.hero p{
    font-size: 18px;
}