.hero{
    background: url('../../assets/background/hero-iphone.jpeg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fbfbfd;
    min-height: 80vh;
    text-align: center;
    padding: 100px 0;
}
@media(max-width: 600px){
    .hero{
        min-height: 60vh;
        padding: 60px 0;
    }
    .hero h2{
        font-size: 3rem;
    }
}
.hero a{
    color: #06c;
}
.hero p{
    font-size: 18px;
}