.products {
  padding: 50px 0;
}
.products .slick-list{
  overflow: unset;
}
.products-list .slick-prev:before, .products-list .slick-next:before{
  font-size: 45px;
}
.products-list .slick-prev.slick-disabled:before, .products-list .slick-next.slick-disabled:before{
  opacity: 0.15;
}
.category {
  margin: 50px 0;
  text-align: left;
}
.category-name {
  margin: 10px 0;
}
.header h3 {
  color: #6e6e73;
  margin-bottom: 10px;
  text-align: left;
  max-width: 600px;
  font-weight: 500;
}
.header h3 span{
  color: #1d1d1f;
}
.product-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
  transition: all .3s cubic-bezier(0,0,.5,1);
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  height: 320px;
  width: 360px;
  text-align: center;
}
.product-box:hover {
 transform: scale(1.05);
}
.product-box img {
  max-height: 180px;
}
@media(max-width: 900px){
  .product-box{
    width: 330px;
    height: 300px;
  }
  .product-box img {
    max-height: 150px;
  }
}

@media(max-width: 768px){
  .product-box{
    width: 290px;
  }
  .product-box img {
    max-height: 140px;
  }
  .products-list .slick-prev:before, .products-list .slick-next:before{
    font-size: 30px;
  }
}

@media(max-width: 700px){
  .product-box{
    width: 250px;
    height: 270px;
  }
  .product-box img {
    max-height: 120px;
  }
}

@media (max-width: 600px) {
  .products {
    padding: 30px 0;
  }
  .products-list {
    display: flex;
    flex-direction: column;
  }
  .product-box{
    width: 100%;
    margin-bottom: 18px;
  }
  .header h3 {
    font-size: 1.7rem;
    max-width: none;
  }
  .info h4 {
    font-size: 1.5rem;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
