.products {
  padding: 50px 0;
}
.products-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.category {
  margin: 50px 0;
  text-align: left;
}
.category-name {
  margin: 10px 0;
}
.header h3 {
  color: #6e6e73;
  margin-bottom: 10px;
  text-align: left;
  max-width: 600px;
  font-weight: 500;
}
.header h3 span{
  color: #1d1d1f;
}
.product-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
  transition: all .3s cubic-bezier(0,0,.5,1);
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  height: 330px;
  width: 300px;
  text-align: center;
}
.product-box:hover {
 transform: scale(1.05);
}
.product-box img {
  max-height: 180px;
}

@media (max-width: 600px) {
  .products {
    padding: 30px 0;
  }
  .products-list {
    flex-direction: column;
  }
  .product-box{
    width: 100%;
  }
  .header h3 {
    font-size: 1.7rem;
    max-width: none;
  }
  .info h4 {
    font-size: 1.5rem;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
